{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": "current",
          "browsers": "since 2012"
        },
        "corejs": {
          "version": 3,
          "proposals": true
        },
        "useBuiltIns": "usage"
      }
    ]
  ],
  "plugins": [
    "@lingui/babel-plugin-extract-messages",
    "@babel/plugin-proposal-object-rest-spread",
    "@babel/plugin-syntax-dynamic-import",
    [
      "@babel/plugin-proposal-decorators",
      {
        "legacy": true
      }
    ],
    [
      "@babel/plugin-proposal-class-properties",
      {
        "loose": true
      }
    ]
  ],
  "ignore": [
    "src/lingui/_build"
  ]
}